@import "tailwindcss";

body {
    @apply text-[#8f2547] bg-[#fde2e7];
    font-family: "Italiana", serif;
}

.font-asset {
    font-family: "Asset", serif;
}

.font-italiana {
    font-family: "Italiana", serif;
}
