@import "tailwindcss";

@theme {
    --color-peach-cream: #fdf3e7;
    --color-brown: #784532;
    --color-gray: #383838;
}

body {
    @apply text-brown bg-peach-cream;
}

.font-cormorant {
    font-family: "Cormorant", serif;
}

.font-red-hat {
    font-family: "Red Hat Text", sans-serif;
}

@keyframes fade-out {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0;
    }
}

.animate-fade-out {
    animation: fade-out 0.15s ease-out;
}
